body {
    margin-top: 85px;
}
/* Navigation Bar */
.nav {
    background: #B55050;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 30px;
    border-bottom: transparent;
    border-bottom-right-radius: 80%;
    text-align: center;
}
.nav-tabs>li>a {
    color: #000000;
    font-size: 20px;
    background-color: transparent;
    border: 0px;
    padding: 0px 40px;
}
.nav-tabs>li>a:hover {
    background: none;
    color: #000000;
    border-bottom: 3px solid black;
}
.nav-tabs>li.active>a:focus{
    background: none;
    color: #000000;
    border: 2px solid black;
}
/* HOME PAGE */
.body {
    background: url("./images/brickhouse.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img {
    background: url("./images/reddress.gif");
    min-height: 550px; 
    font-size: 40px; 
    padding: 200px;
    color: red;
}
.about {
    margin: 10px 150px;
    padding: 10px 100px;
    background: rgba(255, 255, 255, 0.8);
}
.meetguru {
    font-size: 30px;
    color: red;
}
.aboutguru {
    margin: 20px;
    font-size: 16px;
}
.img2 {
    background: url("./images/blackdress.gif");
    min-height: 550px; 
}
/* Advice Page */
.btn {
    background: #F5F2F2;
    padding: 15px;
    position: fixed;
    text-align: center;
}
.adviceIntro {
    font-size: 20px;
    text-align: center;
    padding: 20px;
    color: #B55050;
}
/* FASHION */
.text-center {
    color: #502C02;
    background: #FFC400;
    padding: 50px;
    margin-bottom: 30px;
}
.fall {
    background: url("./images/fall1.jpg");
}
.fall1 {
    background: url("./images/fall.jpg");
}
.fall2 {
    background: url("./images/fall2.jpg");
}
.fall3 {
    background: url("./images/fall3.jpg");
}
.fall4 {
    background: url("./images/fall4.jpg");
}
.fall, .fall2, .fall4 {
    min-height: 350px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px 130px;
}
.fall1, .fall3 {
    min-height: 350px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px 150px;
}
p {
    font-size: 20px;
    text-align: center;
    color: #EB00C4;
    margin: 60px 0px;
}
/* BOYS */
.whole {
    background: url("./images/love.gif");
    min-height: 350px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.spice {
    background: rgba(56, 36, 36, 0.8);
    border: 20px solid #070307;
    color: white;
    padding: 30px;
    line-height: 30px;
    margin: 70px;
}
h3 {
    text-align: center;
}